<main id="main">
    <section class="features contact team">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#tab-1">User Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-2">Change Password</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9 mt-4 mt-lg-0">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <div class="row">
                                <div class="member d-flex align-items-center justify-content-start" style="box-shadow: none; padding-left: 0px">
                                    {{#if auth.profile_picture}}
                                    <div class="pic" style="width: auto;"><img src="/avatar/{{auth.profile_picture}}" class="img-fluid" alt="" style="width: 150px; height: 150px;"></div>
                                    {{else}}
                                    <div class="pic" style="width: auto;"><img src="/img/default.jpg" class="img-fluid" alt="" style="width: 150px; height: 150px;"></div>
                                    {{/if}}
                                    <div class="member-info">
                                        <form id="avatar_form" action="/profile/upload_avatar" method="post" role="form" enctype="multipart/form-data">
                                            <input type="file" id="profile_picture_file" name="profile_picture_file" style="display: none;" accept="image/*" onchange="$('#avatar_form').submit();">
                                        </form>
                                        <div class="social">
                                            <a href="javascript:void(0)" id="upload_avatar" onclick="$('#profile_picture_file').click();"><i class="icofont-upload"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <form action="/profile/update_profile" method="post" role="form" class="submit-form" id="profile_form">
                                    <input type="hidden" id="profile_picture_path" name="profile_picture_path" value="{{auth.profile_picture}}">   
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="username">UserName</label>
                                                <input type="text" name="username" id="username" class="form-control" placeholder="UserName" data-rule="required" value="{{auth.username}}" data-msg="Please enter username" />
                                                <div class="validate"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="preference">Preference</label>
                                                <input type="text" name="preference" id="preference" class="form-control" placeholder="Preference" value="{{auth.preference}}" />
                                                <div class="validate"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="contact_info">Contact Infomation</label>
                                                <input type="text" name="contact_info" id="contact_info" class="form-control" placeholder="Contact Information" value="{{auth.contact_info}}" />
                                                <div class="validate"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="preferred_location">Preferred Location</label>
                                                <input type="text" name="preferred_location" id="preferred_location" class="form-control" placeholder="Preferred Location" value="{{auth.preferred_location}}" />
                                                <div class="validate"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <div class="loading">Loading</div>
                                        <div class="error-message"></div>
                                        <div class="sent-message">Your message has been sent. Thank you!</div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <div class="row">
                                <form action="/profile/change_password" method="post" role="form" class="submit-form" id="password_form">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="password">New Password</label>
                                                <input type="password" name="password" id="password" class="form-control" placeholder="New Password" data-rule="required" data-msg="Please enter New Password" />
                                                <div class="validate"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="confirm_password">Confirm Password</label>
                                                <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Confirm Password" data-rule="equalTo:password" data-msg="Please Confirm Password" />
                                                <div class="validate"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <div class="loading">Loading</div>
                                        <div class="error-message"></div>
                                        <div class="sent-message">Your message has been sent. Thank you!</div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>